<form name="loginForm" novalidate ng-submit="login()" class="form">
    <div class="alert alert-danger alert-dismissable" role="alert" ng-show="wrongCredentials">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Hmmm... the user and password seems to be wrong! try again!
    </div>
    <div class="form-group" ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success' : loginForm.email.$valid && loginForm.email.$dirty}">
        <label for="email" class="control-label">Email: </label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required cu-focus />
        <p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty && !loginForm.email.$focused">Wrong email! Please revise.</p>
    </div>
    <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && loginForm.password.$dirty, 'has-success' : loginForm.password.$valid && loginForm.password.$dirty}">
        <label for="password" class="control-label">Password: </label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required cu-focus/>
        <p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty && !loginForm.password.$focused">This password field is required!</p>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Log In!</button>
    </div>
</form>
